<h2>Basic Usage</h2>

<p>This form is generated using json schema passed to an ember component.</p>

{{dynamic-form schema=model.basicObject}}

<hr/>

<p>ember-cli-dynamic-forms are powered by <a href="http://alpacajs.org">alpacajs</a>, an open source dynamic form library for jquery.</p>

<p>To get started with ember-cli-dynamic-forms, all you need is a <a href="http://json-schema.org/">json-schema</a> compliant object for alpacajs to describe your form.  Below we make this object available as the model within a route.</p>

<p>For tips on creating alpacajs forms, read their <a href="http://www.alpacajs.org/documentation.html">documentation</a>, <a href="http://www.alpacajs.org/tutorial.html">tutorial</a>, and <a href="http://www.alpacajs.org/examples.html">examples</a>.</p>

{{#highlight-js}}
<pre>/app/routes/demos/basic-usage.js<code>import Ember from 'ember';

const basicObject = {
  "schema": {
    "title":"User Feedback",
    "description":"What do you think about Alpaca?",
    "type":"object",
    "properties": {
      "name": {
        "type":"string",
        "title":"Name"
      },
      "feedback": {
        "type":"string",
        "title":"Feedback"
      },
      "ranking": {
        "type":"string",
        "title":"Ranking",
        "enum":['excellent','ok','so so']
      }
    }
  },
  "options": {
    "helper": "Tell us what you think about Alpaca!",
    "fields": {
      "name": {
        "size": 20,
        "helper": "Please enter your name.",
        "placeholder": "Enter your name"
      },
      "feedback" : {
        "type": "textarea",
        "rows": 5,
        "cols": 40,
        "helper": "Please enter your feedback."
      },
      "ranking": {
        "type": "select",
        "helper": "Select your ranking.",
        "optionLabels": ["Awesome!", "It's Ok", "Hmm..."]
      }
    }
  }
};

export default Ember.Route.extend({
  model() {
    return basicObject;
  }
});
</code></pre>
{{/highlight-js}}

<p>Once the object is made available, you can use it within your template to render the form.</p>

{{#highlight-js}}
<pre>/app/templates/demos/basic-usage.hbs<code>\{{dynamic-form schema=model}}</code></pre>
{{/highlight-js}}

