<h2>Data</h2>

<p>This form has data pre-filled in its fields, provided apart from its schema.
The component will take both ember objects and plain JavaScript objects as arguments.</p>
{{dynamic-form schema=model.basicModel data=model.data}}

<hr/>

<p>The dynamic-form component also takes a data parameter to populate fields.
It will populate any field that has a matching key in the data object.</p>
<p>In the form example above we pass in an ember object called Feedback with a computed property as our data argument.</p>

{{#highlight-js}}
  <pre>/app/routes/demos/data.js<code>import Ember from 'ember';

const Feedback = Ember.Object.extend({
  name: Ember.computed('firstName', 'lastName', function () {
    return `${this.get('firstName')} ${this.get('lastName')}`;
  })
});

const basicSchema = {
  "schema": {
    "title":"User Feedback",
    "description":"What do you think about Alpaca?",
    "type":"object",
    "properties": {
      "name": {
        "type":"string",
        "title":"Name"
      },
      "feedback": {
        "type":"string",
        "title":"Feedback"
      },
      "ranking": {
        "type":"string",
        "title":"Ranking",
        "enum":['excellent','ok','so so']
      }
    }
  },
  "options": {
    "focus":false,
    "helper": "Tell us what you think about Alpaca!",
    "fields": {
      "name": {
        "size": 20,
        "helper": "Please enter your name.",
        "placeholder": "Enter your name"
      },
      "feedback" : {
        "type": "textarea",
        "rows": 5,
        "cols": 40,
        "helper": "Please enter your feedback."
      },
      "ranking": {
        "type": "select",
        "helper": "Select your ranking.",
        "optionLabels": ["Awesome!", "It's Ok", "Hmm..."]
      }
    }
  }
};

export default Ember.Route.extend({

  model() {
    const data = Feedback.create({
      firstName: 'Todd',
      lastName: 'Jordan',
      feedback: 'Ember + Alpaca = Awesome',
      ranking: 'excellent'
    });

    return {
      basicSchema,
      data
    }
  }
});</code></pre>
{{/highlight-js}}

{{#highlight-js}}<pre>/app/templates/demos/data.hbs<code>
\{{dynamic-form schema=model.basicSchema data=model.data}}
</code></pre>{{/highlight-js}}

