<h2>Filter Rules</h2>

This form uses a filter rule to disable the name field.  Filter rules can make changes to the form schema based on runtime information.
{{dynamic-form schema=model.basicFilterRule data=model.data }}

<hr/>

<p>Filter rules are objects that pre-process the schema prior to render.  They are used to modify the form based on runtime context, such as modifying form visibility or enabled state based on a logged in user's permissions.</p>
<p>We'll show an example where we will use a filter rule to disable the name field, as it would having checked a user's permissions.</p>

<p>To create a filter rule, we'll use the ember-cli filter-rule generate command:</p>

<p><code>ember g dynamic-form-filter-rule admin-only</code> ... which will generate the file <code>/app/dynamic-forms/filter-rules/admin-only.js</code></p>

  <p>Filter rules may be placed in the schema on a field with a key of "filter-rule". The filter function is passed the field ID its defined under and a reference to the schema object.</p>

{{#highlight-js}}
<pre>/app/forms/filter-rules/admin-only.js<code>import Ember from 'ember';

export default Ember.Object.extend({
  filter(key, schemaObj) {
    const fieldOption = schemaObj.options.fields[key];
    //could disable based on whether the user has admin role (user info loaded via service)
    fieldOption.disabled = true;
  }
});</code></pre>
{{/highlight-js}}

<p>We place the filter rule placed under <code>options.fields.name.filter-rules</code>.</p>

{{#highlight-js}}
<pre>/app/routes/demos/filter-rules.js<code>import Ember from 'ember';

export default Ember.Route.extend({

const basicFilterRule =
{
  "schema": {
    "title":"User Feedback",
    "description":"What do you think about Alpaca?",
    "type":"object",
    "properties": {
      "name": {
        "type":"string",
        "title":"Name"
      },
      "feedback": {
        "type":"string",
        "title":"Feedback"
      },
      "ranking": {
        "type":"string",
        "title":"Ranking",
        "enum":['excellent','ok','so so']
      }
    }
  },
  "options": {
    "helper": "Tell us what you think about Alpaca!",
    "fields": {
      "name": {
        "size": 20,
        "helper": "Please enter your name.",
        "placeholder": "Enter your name",
        "filter-rules": ["admin-only"]
      },
      "feedback" : {
        "type": "textarea",
        "rows": 5,
        "cols": 40,
        "helper": "Please enter your feedback."
      },
      "ranking": {
        "type": "select",
        "helper": "Select your ranking.",
        "optionLabels": ["Awesome!", "It's Ok", "Hmm..."]
      }
    }
  }
};

  model() {
    const data = Ember.Object.create({
      name: "Todd Jordan"
    });
    return Ember.Object.create({ basicFilterRule, data });
  }
});</code></pre>
{{/highlight-js}}

{{#highlight-js}}<pre>/app/templates/demos/filter-rules.hbs<code>\{{dynamic-form schema=model.basicFilterRule data=model.data}}</code></pre>{{/highlight-js}}

